@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.container {
  @apply w-full lg:max-w-[1440px] xl:max-w-[1920px] mx-auto;
}

main {
  @apply my-[50px] mx-6 md:mx-12 lg:mx-[120px];
}
